<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <style>
    .body{
        background-image: url('static/images/background.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    </style>
<title>GET IT CHECKED</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/styles/sample1.css">
<link rel="stylesheet" href="static/styles/btnAnimation.css"> 
<!-- <link rel="stylesheet" href="main.css"> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.sst-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-bus,.fa-child {font-size:200px}
</style>

</head>
<body>

<!-- Navbar -->
<div class="sst-top">
  <div class="sst-bar sst-black sst-card sst-left-align sst-large" >
    <a class="sst-bar-item sst-button sst-hide-medium sst-hide-large sst-right sst-padding-large sst-hover-white sst-large sst-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#home" class="sst-bar-item sst-button sst-padding-large sst-white">Home</a>
    <a href="#aboutus" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">About Project</a>
    <a href="#contact" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Contact</a>
    {% if session['login'] and session['user']=='fac' %}
    <a href="/addassign" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Add Assignment</a>
    {% endif %}
    {% if session['login'] and session['user']=='fac' %}
    <a href="/assigntype" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">View Assignments</a>
    {% endif %}
    {% if session['login'] and session['user']=='stu' %}
    <a href="/assignopt" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Assignment options</a>
    {% endif %}
    {% if session['login'] %}
    <a href="/logout" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Logout</a>
    {% endif %}
  </div>
  </div>
</div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="sst-bar-block sst-black sst-hide sst-hide-large sst-hide-medium  sst-top" style="margin-top:50px">
    <a href="#aboutus" class="sst-bar-item sst-button sst-padding-large">About Project</a>
    <a href="#contact" class="sst-bar-item sst-button sst-padding-large">Contact</a>
    {% if session['login'] and session['user']=='fac' %}
    <a href="/addassign" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Add Assignment</a>
    {% endif %}
    {% if session['login'] and session['user']=='fac' %}
    <a href="/assigntype" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">View Assignments</a>
    {% endif %}
    {% if session['login'] and session['user']=='stu' %}
    <a href="/assignopt" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Assignment options</a>
    {% endif %}
    {% if session['login'] %}
    <a href="/logout" class="sst-bar-item sst-button sst-hide-small sst-padding-large sst-hover-white">Logout</a>
    {% endif %}
  </div>

<!-- Header -->
<header class="sst-container sst-center body banner"style="padding:200px 16px" id="home" >
 
  <h1 class="sst-margin sst-jumbo" style="color:#85949c"><b>ASSIGNMENT PLAGIARISM CHECKER</b></h1>
  <style>
    .h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
    }
  </style>
  <p class="sst-xlarge" style="color:#f1f1f1">Scans Everything</p>

<div class="form">
    <a class="registerBtn" href="/slogin">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        STUDENT
        </a>
        <a class="registerBtn" href="/flogin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            FACULTY
            </a>
</div>
</header>
   
<!-- First Grid -->
<div class="sst-row-padding sst-padding-64 sst-container" id="aboutus">
  <div class="sst-content">
    <div class="sst-twothird">
      <h1>ABOUT US</h1>
      <h3 class="sst-padding-32">ASSIGNMENT PLAGIARISM CHECKER</h3>

      <p class="sst-text-grey"> Plagiarism is a developing issue that is often characterised as literary theft and academic dishonesty in the literature;
        therefore, it must be avoided and adhere to ethical norms. Plagiarism has a major negative impact on education in a number of ways, including by 
        impeding students' ability to acquire critical analysis and creative thinking skills and by eroding teacher-student relationships. Additionally,
        plagiarism that goes unnoticed might harm the academic institution's reputation and diminish the value of its degrees. </p>
    </div>
    <div class="logo-container"><img class="logo" src="static/images/assign_symbolbg.png"width="460" height="345">
      <style>
      .logo {
      float: left;
      width: 33.33%;
      padding: 15px;
      }
      </style>

  </div>
</div>

<!-- Second Grid -->
<div class="sst-row-padding sst-light-grey sst-padding-64 sst-container">
  <div class="sst-content">
    <div class="sst-third sst-center">
      <i class="fa fa-child sst-padding-64 sst-text-red sst-margin-right"></i>
    </div>

    <div class="sst-twothird">
      <h3>Applications</h3>
     
      <p class="sst-text-grey">* Plagiarism Detection in Computer Programming Assignments</p>
      <p class="sst-text-grey">* Evaluate and Assigns the Marks</p>
      <p class="sst-text-grey">* Prevents Copying of Assignments </p>
    </div>
  </div>
</div>

<div class="sst-container sst-black sst-center sst-opacity sst-padding-64">
    <h1 class="sst-margin sst-xlarge">QUALITY EDUCATION FOR YOUR CHILD</h1>
</div>

<!-- Footer -->
<footer class="sst-container sst-padding-64 sst-center sst-opacity" id="contact">  
  <div class="sst-xlarge sst-padding-32">
    <h1> CONTACT US </h1>
    <i class="fa fa-phone sst-hover-opacity"></i>
    <i class="fa fa-facebook-official sst-hover-opacity"></i>
    <i class="fa fa-instagram sst-hover-opacity"></i>
    <i class="fa fa-twitter sst-hover-opacity"></i>
    <i class="fa fa-linkedin sst-hover-opacity"></i>
 </div>
 
</footer>

</body>
</html>