<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/styles/btnAnimation.css">
  <link rel="stylesheet" href="static/styles/login.css">
</head>
<title>GET IT CHECKED</title>
<body>
    <div class="Login-box">
        <h2>FACULTY LOGIN</h2>
        <form action="/flogin" method='POST'>
            <div class="user-box">
                <input type="email" name="email" required="" placeholder="Username">
                <input type="password" name="password" required="" placeholder="Password">
            </div>
  
            <section id="hero">
            <button type=submit class="registerBtn"> Submit </button>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            
        </section><!-- #hero -->
        <p id="email"><a href="/forgot">Forgot Password</a> </p>
        <p id="register">Don't have an account? <a href="/fregister">Register</a> </p>
        </form>
    </div>
</body>
</html>

